@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor;
    @using Microsoft.AspNetCore.Mvc; @using Microsoft.AspNetCore.Http;



    @{ Boolean user = false; Boolean pass = false;
        Boolean email = false;
        String is_active = (ViewBag.Main[4].ToString().Equals("0")) ? "Activo" : "Baneada";
        String faction=null;
        if(ViewBag.Details[6]!=""){
                    faction = (ViewBag.Details[6].ToString().Equals("0")) ? "Alianza" : "Horda";
        }
}
    @if (HttpContextAccessor.HttpContext.Session.GetInt32("_changeU") == 1) { user = true; }
    @if (HttpContextAccessor.HttpContext.Session.GetInt32("_changeP") == 1) { pass = true; }
    if (user) {
    <script>
        alert("Te recomendamos cambiar tu usuario y contraseña, ya que fue creada por Facebook")
    </script>
    }
    @if (HttpContextAccessor.HttpContext.Session.GetInt32("_changeE") == 1) { email = true; }
    //onchange="document.forms[0].submit()
    }


    <!-- WRAPPER -->
    <div id="wrapper">
        <div class="back-panel-wow">

        <!-- PAGE TITLE -->
        <header id="page-title">
            <div class="container">
                <h1>Panel de usuario</h1>

                <ul class="breadcrumb">
                    <li><a href="/">Inicio</a></li>
                    <li class="active">Panel</li>
                </ul>
            </div>
        </header>

        <section class="container">

            <ul class="nav nav-pills" style="margin-bottom: 20px;">
                <li class="active">
                    <a href="#1a" data-toggle="tab"><b>Cuenta</b></a>
                </li>
                <li>
                    <a href="#2a" data-toggle="tab"><b>Datos personales</b></a>
                </li>
                <li>
                    <a href="#3a" data-toggle="tab"><b>Personajes</b></a>
                </li>
                <li>
                    <a href="#4a" data-toggle="tab"><b>Recluta a un amigo</b></a>
                </li>
                <li>
                    <a href="#5a" data-toggle="tab"><b>Personalizar</b></a>
                </li>
            </ul>

            <div class="tab-content clearfix">
                <div class="row tab-pane active" id="1a">
                    <div class="container">

                        <div class="col-xs-12 col-sm-5 col-md-4" id="tooltip">
                            <br /> @if (user || pass || email)
                            {
                                <label class="label label-warning full"> Tienes permitido editar uno o más campos</label> }
                            <div class="container-fluid">
                                <label for="user" class="q5">Usuario</label>
                                <input id="user" type="text" value='@ViewBag.Main[0]' class="form-control insi" readonly>
                            </div><br /> @if (pass)
                            {
                                <div class="container-fluid">
                                    <label for="pass " class="q5">Contraseña</label>
                                    <input id="pass" type="password" class="form-control insi">
                                </div><br />
                                <script>
                                    document.getElementById("user").removeAttribute('readonly')
                                </script>
                            }

                            <div class="container-fluid">
                                <label for="msg" class="q5">Correo</label>
                                <input id="msg" type="email" value='@ViewBag.Main[1]' class="form-control insi" readonly>
                            </div><br />
                            <div>
                                @if (user || pass || email)
                                {
                                    <button class="btn btn-danger full" type="submit">Editar</button> }
                            </div> <br />

                        </div>
                        <div class="col-xs-12 col-sm-6 col-sm-offset-1 col-md-7 col-md-offset-1 panel-extra" id="tooltip">
                            <label class="label label-default full"><b><u>Creación de la cuenta: </u></b>@ViewBag.Main[2]</label>
                            <label class="label label-default full"><b><u>Última conexión:</u> </b>@ViewBag.Main[3]</label>
                            <label class="label label-default full"><b><u>Estado de la cuenta:</u> </b>@is_active</label>
                            <div class="row">
                                <div class="col-xs-6">
                                    <label class="label label-default full"><b><u>Pts votación:</u> </b>@ViewBag.Main[4]</label>
                                </div>
                                <div class="col-xs-6">
                                    <label class="label label-default full"><b><u>Pts donación:</u> </b>@ViewBag.Main[5]</label>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="tab-pane" id="2a">
                    <div class="col-xs-12 col-sm-12 col-md-12" id="tooltip">
                        <br />
                        <div class="container-fluid col-md-5">
                            <label class="q5">Nombre</label>
                            <input id="msg" value='@ViewBag.Details[0]' type="text" class="form-control">
                            <br />
                            <label class="q5">Apellidos</label>
                            <input id="msg" value='@ViewBag.Details[1]' type="text" class="form-control">
                            <br />
                            <label class="q5">País</label>
                            <input id="msg" value='@ViewBag.Details[3]' type="text" class="form-control">
                            <br />
                            <label class="q5">Teléfono</label>
                            <input id="msg" type="number" value='@ViewBag.Details[2]' class="form-control">
                            <br />

                            <div>
                                <button class="btn btn-danger full" type="submit">Editar</button>
                            </div><br />
                        </div>
                        <div class="container-fluid col-md-5 col-md-offset-2">
                            <div class="divider styleColor hidden-lg hidden-md">
                                <!-- divider -->
                                <i class="fa fa-arrow-down"></i>
                            </div>
                            <label class="q5">Cumpleaños</label>
                            <input id="msg" value='@ViewBag.Details[4]' type="text" class="form-control">
                            <br />

                            <label class="q5">Facción preferida</label>
                            <input id="msg" value=@faction type="text" class="form-control">
                            <br />

                            <label class="q5">Bio</label>
                            <textarea id="msg" rows="5" type="text" class="form-control">@ViewBag.Details[6]</textarea>
                            <br />
                            <div>
                                <button class="btn btn-danger full" type="submit">Editar</button>
                            </div><br />
                        </div>
                    </div>

                </div>

                <div class="tab-pane" id="3a">
                    <div class="col-xs-12 col-sm-6 col-md-5" id="tooltip">
                        <br /> @using (Html.BeginForm("CharactersMainData", "Account", FormMethod.Post))
                        {
                            @Html.DropDownList("Characters", null, "Selecciona un personaje", new { @onchange = "CallChangefunc(this.value)", @class = "form-control" }) }

                        <div>
                            <br />
                            <label class="text-info text-center q7">Nivel:</label> <label class="small_thin_grey text-center" id="level"></label><br />
                            <div class="progress">
                                <div class="progress progress-striped">
                                    <div id="progress_div_health" data-appear-progress-animation="100%" data-appear-animation-delay="1000" style="animation-delay: 1000ms; width: 100%;" class="progress-bar progress-bar 0% animation-visible">
                                        <span class="progress-bar-tooltip" id="progress_health" style="opacity: 1;"></span>
                                    </div>
                                </div>
                            </div>
                            <label class="text-info text-center q7">Dinero:</label> <label class="small_thin_grey text-center" id="money"></label><br />
                            <label class="text-info text-center q7">Online:</label> <label class="small_thin_grey text-center" id="online"></label><br />
                        </div>

                        <div class="list-inline pull-right">
                            <div class="item-wow pull-right">
                                <a data-item-slot="0" data-realm="1"></a>
                                <img src="" id="class">
                            </div>

                            <div class="item-wow pull-right">
                                <a data-item-slot="0" data-realm="1"></a>
                                <img src="" id="race">
                            </div>

                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-7">

                    </div>

                </div>
                <div class="tab-pane" id="4a">
                    <div class="col-xs-12 col-sm-6 col-md-6" id="tooltip">
                        <br />
                        <input class="form-control" type="text" value="http://www.wowlatinos.net/register?r=4390" readonly /><br />
                        <label class="text-info"> Copia este link y dácelo a tus amigos. Con esto podrás recibir recompensas como:</label><br />
                        <label class="text-center">* 5 puntos de donación (por cada nuevo amigo).</label><br />
                        <label class="text-center">* 2 piezas de leveo a escoger.</label><br /><br /><br />
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-5 col-md-offset-1" id="tooltip">
                        <img src="~/images/recruit_friend.jpg" class="img-responsive" />
                    </div>

                </div>
                <div class="tab-pane" id="5a">
                    <div class="col-xs-12 col-sm-12 col-md-12" id="tooltip">
                        <br />
                        <div class="table-responsive">
                            <table class="table table-bordered table-striped" id="tooltip">
                                <thead>
                                    <tr>
                                        <th> <button class="btn btn-info center-block">Nombre</button></th>
                                        <th> <button class="btn btn-info center-block">Facción</button></th>
                                        <th> <button class="btn btn-info center-block">Raza</button></th>
                                        <th> <button class="btn btn-info center-block">Aspecto (incluye nombre)</button></th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                        <label class="text-center"> Estos cambios se realizan dentro del juego. Acá solamente se solicitan. *CERRAR EL JUEGO CUANDO SE REALIZAN*</label><br />
                    </div>

                </div>
            </div>
            <div class="divider">
                <!-- divider -->
                <i class="fa fa-thumbs-up"></i>
            </div>
            <!-- CALLOUT -->
            <div class="bs-callout text-center nomargin-bottom">
                <div class="col-md-12">
                    <h3><strong>Ayúdanos</strong> a crecer <a href="/Account/Panel" class="btn btn-primary btn-lg">Votar</a></h3><br />
                </div>
            </div>
            <!-- /CALLOUT -->
        </section>
        </div>
    </div>

    <!-- /WRAPPER -->
    <script>
function CallChangefunc(val){
    if(val==""){
        return;
    }
            $j.ajax({
type: 'POST',
data:{id:val},
datatype: "json",
 url: '@Url.Action("CharactersMainData", "Account")',
success: function(data) {
        $j('#race').attr('src', data[0]);
        $j('#class').attr('src', data[1]);
        $j('#level').text(data[2]);
        $j('#progress_health').text("Vida:"+data[5]);
        $j('#money').text((data[3]/10000) + " de oro");
        $j('#online').text((data[4] != 0) ? "Conectado" : "Desconectado");


}
    });

}
    </script>